# any solution file
*sol*    

__pycache__/
__pycache__/*

# ide/os specific files
.idea/
.idea/*
nbproject/
.DS_Store

# maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# some data files not needed any more
mugshots/*
